
  body{
    padding:0;
    margin: 0;
    background-image:url( "https://cdn-assets-eu.frontify.com/s3/frontify-enterprise-files-eu/eyJwYXRoIjoic3VwZXJjZWxsXC9maWxlXC9FcHl0Vk5ZZlp4QnRuOHRVYnVYcC5wbmcifQ:supercell:6yO7PUG6JIfn7SNykSCI1FfNHOSs0L8LlF_1tRCQMVc?width=800");width: 100;
    background-size: contain;
    background-repeat: cover;
}
h1{
  color: red;
  text-transform: uppercase;
  text-align: center;
  font-size: 100px;
  overflow: hidden; 
white-space: nowrap; 
margin: 0 auto; 
letter-spacing: .15em; 
animation: 
typing 3.5s steps(40, end),
blink-caret .75s step-end infinite;
text-decoration: none;
position: absolute;
white-space: nowrap;


}

.S{
  color: red;
  text-decoration: none;
  }

    
   
    
    
    
    
    nav a{
         font-size: 30px;
         height: 50px;
         display: inline-block;
         text-decoration: none;
         color: white;
         font-family: "Open Sans", sans-serif;
         padding-right: 15px;
         padding-left: 15px;
         padding-top: 15px;
         border-right: solclass 0.5px grey;
         margin: 0;
    
    
    }
    nav a:hover{
               background-color: lightgrey;
    
    }
    /* The typing effect */
    @keyframes typing {
        from { width: 0 }
        to { width: 100% }
      }
      #typewriter{
        position: absolute;
      }

      
 