
  body{
    padding:0;
    margin: 0;
    background-image:url( "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT6wAGNxW-M9-irOk12v3SoDXzvlTGmquHs_w&usqp=CAU");
    background-size: contain;
    background-repeat: cover;
}
h1{
  color: red;
  text-transform: uppercase;
  text-align: center;
  font-size: 100px;
  overflow: hidden; 
white-space: nowrap; 
margin: 0 auto; 
letter-spacing: .15em; 
animation: 
typing 3.5s steps(40, end),
blink-caret .75s step-end infinite;
text-decoration: none;

}

.S{
  color: red;
  text-decoration: none;
  }

    
    embed{
    background: none;
      }
  
 